<ion-view view-title="Menu Utama">
  <ion-content>
    <div class="list condensed-space">
          <div class="card dark-bg in" style="transition-delay: 0.13s;">
              <a href="#/app/pembelian" class="item clear-bg item-bg-image waves-effect waves-button waves-light">
                  <h2>Pembelian</h2>
                  <p></p>
                  <!--<img src="img/bpjs-kess.jpg" style="transition-delay: 0.02s;">-->
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.27s;">
              <a href="#/app/pembayaran" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>Pembayaran</h2>
                  <p></p>
                  <!--<img src="img/creditcard.png" style="transition-delay: 0.09s;">-->
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.4s;">
              <a href="#/app/laporan" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>Laporan</h2>
                  <p></p>
                  <!--<img src="img/pln.jpg" style="transition-delay: 0.18s;">-->
              </a>
          </div>

      </div>
  </ion-content>
</ion-view>
