
<ion-view view-title="Akun ">
    <ion-content>
		<div class="hero " style="background-image: url('img/blurred-background-2.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.jpg');"></div>
                <h3><a class="light">{{ profile.fullname }}</a></h3>
                <h4 style="color:dark">Saldo : {{ profile.balance | currency : "Rp. ":0 }}</h4>
            </div>
        </div>
        <h4 class="content padding double-padding-x">Profile</h4>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nama </span>
                <input type="text" placeholder="Nama" ng-model="profile.fullname">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password Lama </span>
                <input type="password" placeholder="Password Lama" ng-model="profile.password.oldPass">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password Baru</span>
                <input type="password" placeholder="Password Baru" ng-model="profile.password.newPass">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password Konfirmasi</span>
                <input type="password" placeholder="Password Baru" ng-model="profile.password.confirmPass">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Pin</span>
                <input type="password" placeholder="Pin" ng-model="profile.pin.newPin">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Pin Konfirmasi</span>
                <input type="password" placeholder="Pin Konfirmasi" ng-model="profile.pin.confirmPin">
            </label>
            <button class="button col-md-12 button-block button-assertive waves-effect waves-button waves-light" ng-click="rubah()"> Bayar</button>
        </div>
    </ion-content>
</ion-view>
