<ion-view view-title="Konfirmasi Pembelian Pulsa">
    <ion-content>
        <div class="im-wrapper">
            <div class="list">
                <br><br>
                <label class="item item-avatar item-input item-stacked-label">
                    <img src="img/axis.png" ng-if="$root.prepaid.opCode =='axis'"/>
                    <img src="img/smartfren.jpg" ng-if="$root.prepaid.opCode =='sf'"/>
                    <img src="img/im3-ooredoo-logo.png" ng-if="$root.prepaid.opCode =='isat'"/>
                    <img src="img/simpati1.png" ng-if="($root.prepaid.opCode =='tsel')"/>
                    <img src="img/3.png" ng-if="$root.prepaid.opCode =='tri'"/>
                    <img src="img/xl.png" ng-if="$root.prepaid.opCode =='xl'"/>
                    <img src="img/bolt.jpg" ng-if="$root.prepaid.opCode =='bolt'"/>
                    <span class="input-label">Nomor Telepon</span>
                    <input type="text" value="{{$root.prepaid.notelp}}" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">
                        Nominal
                    </span>
                    <input type="text" value="{{($root.prepaid.nominal*1000) | currency : '':0}}" />
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Pin</span>
                    <input type="password" placeholder="Pin" ng-model="$root.prepaid.pin" />
                </label>
                <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="beli()" >
                    <i class="icon ion-android-cart"></i> Beli
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
