<ion-view view-title="Register" align-title="left">
    <ion-content style="
                        background-attachment: fixed;
                        margin: 0 auto;
                        height: auto;
                        background-size: cover;
                        background-attachment: fixed;
                        background-position: center center;
                        position: absolute;
                        background-repeat: repeat-x;
                        background-attachment: fixed;
                        background-position: top right;
                        position: absolute;
                        overflow: hidden;
                        text-align: center;
                        margin: 0 auto;
                        overflow: hidden;">
        <div class="ionic login" ng-app="login">
            <div class="hero no-header height-login flat">
                <div class="content">
                    <!-- <i class="ion-map icon hero-icon royal-bg"></i> -->

                    <div class="profile-login">
                        <img src="img/logo.jpg" class="img-responsive" alt="" width="150">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4>Register Anggota</h4>
            </div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="reg.email">
                </label>
                <label class="item item-input item-floating-label hidden">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="reg.password">
                </label>
                <label class="item item-input item-floating-label hidden">
                    <span class="input-label">Password Lagi</span>
                    <input type="password" placeholder="Password Lagi" ng-model="reg.confirmpass">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">No KTP</span>
                    <input type="text" placeholder="No KTP" ng-model="reg.nik">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" ng-model="reg.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Phone</span>
                    <input type="text" placeholder="Phone" ng-model="reg.phone">
                </label>
            </div>
            <div class="padding">
                <button class="button col-md-12 button-block button-assertive waves-effect waves-button waves-light" ng-click="register()">Daftar</button>
                <div class="text-center">
                    Or
                </div>
                <a href="#/app/login">
                <button class="button col-md-12 button-block button-dark waves-effect waves-button waves-light" > Masuk</button></a>
            </div>
            <div class="padding">

            </div>
        </div>
    </ion-content>
</ion-view>
