<ion-view view-title="Pembelian Token">
    <ion-content>
        <div class="im-wrapper">
            <div class="text-center">
                Token PLN
            </div>
            <div class="text-center" ng-if="inq && !pay">
                Periksa Kembali Sebelum Memproses.
            </div>
            <div class="list">
                <br><br>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nomor Meter / No Pelanggan</span>
                    <input type="text" placeholder="Contoh 8981289129092" ng-model="$root.prepaid.notelp">
                </label>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Nominal
                    </div>
                    <select name="nominal" ng-model="$root.prepaid.prodName" ng-change="rubahHarga()">
                        <option value="PLN20" selected>20.000</option>
                        <option value="PLN50">50.000</option>
                        <option value="PLN100">100.000</option>
                        <option value="PLN200">200.000</option>
                        <option value="PLN500">500.000</option>
                        <option value="PLN1000">1.000.000</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Harga </span>
                    <input type="text" placeholder="Harga" ng-value="$root.prepaid.price|currency:'Rp. ':0" >
                </label>
                <label class="item item-input item-stacked-label" ng-if="inq && !pay">
                    <span class="input-label">No HP </span>
                    <input type="tel" placeholder="No HP Pelanggan" ng-model="$root.prepaid.custPhone">
                </label>
                <label class="item item-input item-stacked-label" ng-if="inq && !pay">
                    <span class="input-label">Pin </span>
                    <input type="password" placeholder="Pin" ng-model="$root.prepaid.pin">
                </label>
                <label class="item item-input item-stacked-label" ng-if="$root.prepaid.noerr==100">
                    <span class="input-label">No Token</span>
                    <input type="text" placeholder="No Token" readonly="readonly" ng-model="$root.prepaid.sn">
                </label>
                <label class="item item-input item-stacked-label" ng-if="$root.prepaid.noerr==100">
                    <span class="input-label">Nama</span>
                    <input type="text" placeholder="Nama" readonly="readonly" ng-model="$root.prepaid.nama">
                </label>
                <label class="item item-input item-stacked-label" ng-if="$root.prepaid.noerr==100">
                    <span class="input-label">Tarif / Daya</span>
                    <input type="text" placeholder="Tarif Daya" readonly="readonly" ng-model="$root.prepaid.tarifdaya">
                </label>
                <label class="item item-input item-stacked-label" ng-if="$root.prepaid.noerr==100">
                    <span class="input-label">KWH</span>
                    <input type="text" placeholder="KWH" readonly="readonly" ng-model="$root.prepaid.kwh">
                </label>
                <label class="item item-input item-stacked-label" ng-if="!inq && pay">
                    <span class="input-label">Status</span>
                    <input type="text" placeholder="Status" ng-model="$root.prepaid.statusTrx">
                </label>
                <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1"
                        ng-if="!inq && !pay" ng-click="konfirmasi()" ng-disabled="!valid">
                    <i class="icon ion-android-cart"></i> Konfirmasi
                </button>
                <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1"
                        ng-if="inq && !pay" ng-click="beli()" ng-disabled="!valid">
                    <i class="icon ion-android-cart"></i> Beli
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>